<GeneralContainer>
  <div class='product item-details-page'>
    <Product::Image />
    <Product::Details />
  </div>

  <h5 class='mt-5'>Features</h5>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Magnam, rerum quas.</li>
    <li>
      Qui possimus veritatis repellat quia neque recusandae minima, ducimus,
      natus consequuntur ad commodi. Nisi totam sapiente numquam cumque iusto.
    </li>
    <li>
      Quisquam, eaque laudantium tempora, enim nihil suscipit ad maxime
      voluptatibus dolorem quaerat veniam autem aliquam quod optio facere
      deserunt placeat! Laboriosam ea harum voluptatem eligendi quibusdam
      consequuntur quas vero iste.
    </li>
    <li>
      Explicabo aperiam numquam esse, harum cumque velit nostrum autem totam eos
      omnis ab obcaecati vitae quibusdam iusto rem facere vel debitis nisi
      quaerat?
    </li>
    <li>Itaque, temporibus ipsam. Voluptas neque labore atque.</li>
  </ul>

</GeneralContainer>